/**
 * @name Sword Art Online Rose Gold Theme - by Vestoga
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232450
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/base.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/base.css');

:root {
  --background-image: url('https://i.imgur.com/mlfkb94.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.18;
  --gradient-primary: 255,120,31;
  --gradient-secondary: 38,85,90;
  --link-colour: #681277;
  --scrollbar-colour: rgb(25,36,230,1);
  --gradient-direction: 320deg;
  --tint-colour: 160,31,99;
  --tint-brightness: 0.24;
  --font: 'Lato';
  --window-padding: 2px;
  --window-roundness: 10px;
  --show-gift-gif-buttons: block;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-large-spacing: 4px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
}